@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Rubik:wght@400;500&display=swap');

:root {
    --header: #13131ff2;
    --primary: rgb(253, 253, 253);
    --secondary: #13131ff2;
    --tertiary: rgb(130, 87, 230) ;
    --quartiary: #828282;
    --alpha: 0.8;
}
button .light{
    background-color: var(--primary);
    color: var(--primary);
}
button .dark{
    background-color: var(--secondary);;
    color: var(--primary);
}
.light{
    --primary: rgb(253, 253, 253);
    --secondary: #13131ff2;
}
.dark{
    --primary: rgb(16, 15, 15);
    --secondary: rgb(255, 255, 255);
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin:0;
    border:0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; 
    background-color: var(--primary);
    color: var(--secondary);
    z-index:1;
}
inline
#about-me,
#projects,
#skills, 
#contact{
    padding: 4rem 0;
    margin-top: 4rem;
    text-align: center;
}

h1 {
    font-size: 5.2vw;
    color: var(--tertiary);
    white-space: nowrap;
}
h2 {
    display: inline-block;
    margin: 2rem 0 8rem 0;
    font-size: 3vw;
    text-align: center;
    color: var(--secondary);
}
h2::after{
    content: "";
    display: block;
    height: 0.4rem;
    width: 0%;
    background: linear-gradient(90deg,#8257E6 0%,#c36ae9, #A40EE4 92.32%);
    transition: width .5s linear;
}
#about-me:hover h2::after,
#projects:hover h2::after,
#skills:hover h2::after,
#contact:hover h2::after
{
    width: 100%;
}
#header {
    z-index: 1;
    width: 100vw;
    height: 8rem;
    position: fixed;
    top:0;
    background-color: var(--header);
    transition: all 0.5s;
    border-bottom: 2px solid var(--tertiary);
}
.container{
    width: 100vw;
    max-width: 114rem;
    margin: 0 auto;
}
.navbar{
    height: 8rem;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    max-width: inherit;
}
.bar{
    position: absolute;
    top: 2rem;
    right: 2rem;
    height:3.5rem;
    width: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.bar .bar-div{
    height: 0.4rem;
    width: 6rem;
    background-color: white;
}
.closed-bar{
    display: none;
    width: 4rem;
    height: 4rem;
    text-align: center;
    position: absolute;
    right: 2rem;
    top:2rem;
    color: var(--tertiary);
    font-size: 2.5rem;
    border: 1px solid var(--tertiary);
    border-radius: 50%;
    line-height: 4rem;
}
.navbar .logo{
    flex:1;
    height: 5rem;
    width: auto;
    max-width: 150px;
}
.navbar .logo img{
    height: 100%;
    width: auto;
}
.navbar>nav {
    flex:2;
    height: 100%;
    margin-right: 5rem;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}
.navbar>nav a{
    text-decoration: none;
    margin-left: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--tertiary);
    line-height: 2.9rem;    
    position: relative;
}
.navbar>nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--tertiary);
    position:absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s;
}
.navbar>nav a:hover::after{
    width: 100%;
}
.theme{
    margin-left: 2rem;
}
.theme-button{
    height: 2.8rem;
    width: auto;
    cursor: pointer;
    background-color: transparent;
}
.theme-button:hover{
    opacity: .5;
}
.theme-button img{
    height: 100%;
    width: auto;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.5s;
}
.initial-area{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    overflow: hidden;
    padding: 10rem 0 0 0;
}
.initial-left{
    flex:1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.initial-left p:nth-child(1){
    font-size: 3.8rem;
    margin-top: 6rem;
}
.name{
    display: inline-block;
}
.name h1{
    border-right: 3px solid rgba(130, 87, 230,0.75);
    white-space: nowrap;
    overflow: hidden;

}
.initial-right{
    flex:1 ;
}
.typing-animation {
    animation: cursor 1s infinite steps(40) normal,
    typing 3.5s steps(40) normal;
}
.job {
    font-size: 2.8rem;
    margin-top: 1rem;
}
.buttons {
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.buttons a{
    list-style: none;    
}
.button{
    position: relative;
    width: 20rem;
    height: 7rem;
    font-size: 3rem;
    font-weight: 500;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 0.5rem;
    cursor:pointer;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary);
}
.button span{
    position: absolute;
    z-index: 1;
}
.buttons a:nth-child(2){
    width: 25rem;
}
.buttons a:nth-child(3){
    width: 30rem;
}
.button:hover{
    background-color: var(--tertiary);
    color:#FFF;
}
#about-me {
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--quartiary);
}
#about-me p{
    margin-top: 1rem;
    line-height: 180%;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    padding: 4rem 0;
}

.projects-area:nth-child(even){
    border-left: 3px solid var(--quartiary);
    border-bottom: 3px solid var(--quartiary);
}
.projects-area:nth-child(odd){
    border-right: 2px solid var(--quartiary);
    border-bottom: 2px solid var(--quartiary);
}
.projects-area:nth-last-child(3){
    border-top: 2px solid var(--quartiary);
}
.project-left,
.project-right{
    flex:1;
    padding: 1rem;
}
.project-left .project-photo{
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
}
.project-left .project-photo img{
    width: 100%;
    height: auto;
    border: 0.4rem solid var(--tertiary);
}
.projects-area .project-right{
    height: 100%;
    width: auto;
    text-align: start;
    margin: auto;
}
.project-right p{
    line-height: 4.5rem;
    margin-left: 3rem;
}
.projects-area:nth-last-child(even) .project-left{
    order: 2;
}

.hidden{
    display: none;
}
.showFlex{
    display: flex;
}
.showBlock{
    display: block;
}
#skills{
    color: var(--quartiary);
}
.skills-area {
    display: flex;
    justify-content: space-between;
    margin: 3rem 7rem;
}
.skills-left,
.skills-right{
    flex:1;
    display: flex;
}
.skills-left{
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}
.skill{
    background-color: #FFF;
    width: 10rem;
    height:10rem;
    padding: 0.5rem;
    border-radius:1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items:center;
}
.skill img{
    height: 100%;
    width: auto;
}
.skill:hover{
    opacity: 0.6;
}
.skill-desc{
    font-size: 2rem;
    line-height: 3rem;
}
footer{
    background-color: var(--primary);   
}

.contact-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-content{
    width: 50rem;
    margin-top: 5rem
}
.form{
    display: flex;
    flex-direction: column;    
}
.form input,
.form>textarea{
    border: 1px solid var(--quartiary); 
}

.form>label{
    font-size: 2rem;
    color: #666;
}
.form>input{
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: 2rem;
}
.form>textarea{
    min-width: 50rem;
    max-width: 50rem;
    min-height: 15rem;
    max-height: 15rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    padding: 1rem 1rem;
}
.form>.button{
    max-width: 12rem;
    max-height: 6rem;
    font-size: 2.5rem;
}
.formation-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.formation-sub-area{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.formation-item{
    flex: 1;
    padding: 1.1rem;
    margin: 2rem;
    min-width: 30rem;
    max-width: 34rem;
    border: 4px solid var(--tertiary);
    border-radius: 0.5rem;
    color: var(--quartiary);
}
.item-curso{
    font-weight: 500;
    color: var(--secondary);
}
.item-curso,
.item-curso-school,
.item-curso-date {
    margin-bottom: 1rem;
}
.item-curso-name {
    font-size: 2.1rem;
    color: var(--quartiary);
}
.item-curso-scholl {
    font-size: 1.6rem;
}
.footer-bar{
    width: 100%;
    height:3px;
    background-color: #333;
    margin: 3rem 0;
}
footer p {
    font-size: 2rem;
    line-height: 2rem;
}
.footers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary);
    padding: 1rem;

}
.footers .footer-content{
    flex:1;
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
    text-align: start;
}
.footer-contact-item{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-contact-item img{
    width: 95%;
    background-color: #FFF;
    border: 1px solid var(--tertiary);
    border-radius: 1rem;
    transition: all 0.3s;
}
.footer-contact-item:hover img{ 
    opacity: 0.7;
    width: 100%;
}
.footer-contacts{
    width: 22rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.9rem;
    cursor: pointer;
    text-align: center;
}
[data-section] {
    opacity:0;
    transition: 1s;
}

[data-section]{
    transform:translate3d(-50px, 0px, 0px);
}
[data-section].animate {
    opacity:1;
    transform:translate3d(0px,0px,0px);
}

/*ANIMATIONS*/
@keyframes typing {
    from{width: 0;}
    to {width: 100%;}
}

@keyframes cursor{
    from{border-right-color: rgba(0,0,0,0.75);}
    to {border-right-color: transparent;}
}

/*RESPONSIVITY*/
@media screen and (min-width: 900px) and (max-width: 1024px){
    .container{
        max-width: 96vw;
    }    
    .project-right p {
        line-height: 3.5rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 899px){

    .container{
        max-width: 96vw;
    }
    .navbar>nav{
        margin-right: 1rem;
    }    
    .projects-area{
        display: block;
    }

}
@media screen and (max-width: 767px){
    .container{
        max-width: 96vw;
    }
    .logo{
        display: none;
    }
    .navbar nav{
        display: none;
        flex-direction: column;
        justify-content: start;
        margin-top: 1rem;
        height: 100%;
    }
    .bar {
        display: flex;
    }
    .projects-area{
        display: block;
    }
    .projects-right p{
        text-align: center;
    }
    .skills-area {
        flex-direction: column;
        margin: 1rem 3rem;
    }
    .skills-right{
        order: 1;
        margin-bottom: 0.5rem
    }
    .skills-left{
        order: 2;
    }
    .formation-sub-area{
        justify-content: center;
    }
    .footers {
        flex-direction: column;
    }
    .footers p{
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-contacts{
      margin-top: 10px;
    }
}
@media screen and (max-width: 425px){
    .container{
        max-width: 96vw;
    }
    h1{
        font-size: 9vw;
    }
    h2{
        font-size: 5.5vw;
    }
    .logo{
        display: none;
    }
    .navbar nav{
        display: none;
        flex-direction: column;
        justify-content: start;
        margin-top: 1rem;
        height: 100%;
    }
    .buttons {
        margin-top: 1rem;
        height:auto;
    }
    .button {
        height: 5.5rem;
    }
    .bar {
        display: flex;
    }
    .initial-left p:nth-child(1) {
        margin-top: 3rem;
        font-size: 2rem;
    }
    .job{
        font-size: 2rem;
    }
    .project-right p{
        text-align: center;
        line-height: 2.5rem;
    }
    .skills-area {
        flex-direction: column;
        margin: 1rem 3rem;
    }
    .skills-right{
        order: 1;
        margin-bottom: 0.5rem
    }
    .skills-left{
        order: 2;
    }
    .formation-item {
        min-width: 90%;
    }
    .footers {
        flex-direction: column;
    }
    .footers p{
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-content{
        flex-direction: column;
    }
    .footer-contacts{
        margin-top: 10px;
    }
}