:root {
    --primary: #FFF;
    --secondary: #100f0f;
    --tertiary: #f1c913;
    --quaternary: #CCC;
}
button .light{
    background-color: var(--primary);
    color: var(--secondary);
}
button .dark{
    background-color: var(--secondary);;
    color: var(--primary);
}
.light{
    --primary: #FFF;
    --secondary: #100f0f;
    --tertiary: #f1c913;
    --quaternary: #CCC;
}
.dark{
    --primary: #100f0f;
    --secondary: #FFF;
    --tertiary: #FF00FF;
    --quaternary: #CCC;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin:0;
    border:0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem; 
    background-color: var(--primary);
    color: var(--secondary);
    transition: all 0.2 ease-in-out;
}
#about-me,
#projects,
#skills, 
#contact{
    padding: 8rem 0;
}
h1 {
    font-size: 7rem;
}
h2 {
    margin: 1rem 0 3rem 0;
    font-size: 6rem;
    text-align: center;
}
#header {
    z-index: 1;
    width: 100vw;
    height: 8rem;
    position: fixed;
    top:0;
    background-color: var(--secondary);
}
.container{
    width: 100vw;
    max-width: 114rem;
    margin: 0 auto;
}
.navbar{
    height: 8rem;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    max-width: inherit;
}
.navbar .logo{
    flex:1;
    height: 5rem;
    width: auto;
}
.navbar .logo img{
    height: 100%;
    width: auto;
}
.navbar>nav {
    flex:2;
    height: 100%;
    margin-right: 5rem;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}
.navbar>nav a{
    text-decoration: none;
    margin-left: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--tertiary);
    line-height: 2.9rem;    
    position: relative;
}
.navbar>nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--tertiary);
    position:absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s;
}
.navbar>nav a:hover::after{
    width: 100%;
}
.theme{
    margin-left: 2rem;
}
.theme-button{
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    background-color: transparent;
}
.theme-button:hover{
    opacity: .5;
}
.theme-button img{
    height: 100%;
    width: auto;
    background-color: transparent;
    transition: all 0.5s;
}
.initial-area{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    padding: 10rem 0 0 0;
}
.initial-left{
    flex:1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.initial-left p:nth-child(1){
    font-size: 3.8rem;
    margin-top: 6rem;
}
.name h1{
    border-right: 3px solid rgba(0,0,0,0.75);
    white-space: nowrap;
    overflow: hidden;
}
.initial-right{
    flex:1 ;
}
.typing-animation {
    animation: cursor 1s infinite steps(40) normal,
    typing 3.5s steps(40) normal;
}
.job {
    font-size: 3.8rem;
    margin-top: 1rem;
}
.buttons {
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10rem;
}
.buttons a{
    list-style: none;    
}
.button{
    position: relative;
    width: 20rem;
    height: 7rem;
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--tertiary);
    border-radius: 0.5rem;
    cursor:pointer;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
}
.button span{
    position: absolute;
    z-index: 1;
}
.buttons a:nth-child(2){
    width: 25rem;
}
.buttons a:nth-child(3){
    width: 30rem;
}
.button:hover{
    background-color: var(--secondary);
    color:var(--primary);
}
#about-me {
    background-color: var(--tertiary);
    width: 100%;
    height: auto;
    text-align: center;
}
#about-me h2{
    margin-bottom: 2rem;

}
#about-me p{
    margin-top: 1rem;
    line-height: 2.8rem;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.projects-item {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 0.5rem;
    width: 100%;
    max-width: 37rem;
    height: 50rem;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 2rem;
}
.projects-item img{
    transition: all .3s;    
}
.projects-item:hover.projects-item img{
    height: 53rem;
    opacity: .8;
    cursor: pointer;
}
.projects-item span{
    display: inline-block;
    text-transform: uppercase;
    font-size: 4rem;
    width: 100%;
    min-width:70rem;
    height: 8rem;
    line-height: 8rem;
    background-color: var(--secondary);
    color: var(--tertiary);
    transform: rotate(-50deg);
    margin: auto;
}
.projects-item-desc{
    position: absolute;
    bottom: 0rem;
    width: 90%;
    background-color: var(--tertiary);
    opacity: .4;
    padding:1rem 0;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.projects-item:hover .projects-item-desc{
    opacity:1;
    cursor:pointer;
}
.projects-item-desc h3 {
    opacity: 1;
    font-size: 2.5rem;
    color: var(--secondary);
}
.button.project-more {
    margin-top: 3rem;
}
.more {
    display:none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0;
}
.project-less{
    display:none;
}
.hidden{
    display: none;
}
.showFlex{
    display: flex;
}
.showBlock{
    display: block;
}
#skills{
    background-color: var(--tertiary);
}
.skills-area {
    display: flex;
    justify-content: space-between;
    margin: 3rem 7rem;
}
.skills-left,
.skills-right{
    flex:1;
    display: flex;
}
.skills-left{
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}
.skill{
    background-color: var(--primary);
    width: 10rem;
    height:10rem;
    padding: 0.5rem;
    border-radius:1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items:center;
}
.skill img{
    height: 100%;
    width: auto;
}
.skill:hover{
    opacity: 0.6;
}
.skill-desc{
    font-size: 2rem;
    line-height: 3rem;
}
.skill:hover {
    background-color: var(--primary);
}

footer{
    background-color: var(--secondary);   
    color: var(--quaternary);
}

.contact-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-content{
    width: 50rem;
    margin-top: 5rem
}
.form{
    display: flex;
    flex-direction: column;    
}
.form input,
.form>textarea{
    border: 1px solid var(--quaternary); 
}

.form>label{
    font-size: 2rem;
    color: #666;
}
.form>input{
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: 2rem;
}
.form>textarea{
    min-width: 50rem;
    max-width: 50rem;
    min-height: 15rem;
    max-height: 15rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    padding: 1rem 1rem;
}
.form>.button{
    max-width: 12rem;
    max-height: 6rem;
    font-size: 2.5rem;
}
#contact h2 {
    color: var(--quaternary);
}
.formation-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.formation-sub-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formation-item{
    flex: 1;
    border: 2px solid #333;
    color: #999;
    padding: 1.1rem;
    margin: 2rem;
    min-width: 30rem;
    max-width: 34rem;
    border-radius: 0.5rem;
}
.item-curso,
.item-curso-school,
.item-curso-date {
    margin-bottom: 1rem;
}
.item-curso-name {
    font-size: 2.1rem;
    color: var(--primary);
}
.item-curso-scholl {
    font-size: 1.6rem;
}
.footer-bar{
    width: 100%;
    height:3px;
    background-color: #333;
    margin: 3rem 0;
}
footer p {
    color: var(--primary);
    line-height: 2rem;
}
.footers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-contact-item{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-contact-item img{
    height:auto;
    width: 95%;
    background-color: var(--primary);
    border-radius: 1rem;
    transition: all 0.3s;
}
.footer-contact-item:hover img{ 
    opacity: 0.5;
    width: 100%;
}

.footer-contacts{
    width: 22rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.9rem;
    cursor: pointer;
}

[data-section] {
    opacity:0;
    transition: 1s;
}

[data-section]{
    transform:translate3d(-50px, 0px, 0px);
}
[data-section].animate {
    opacity:1;
    transform:translate3d(0px,0px,0px);
}

/*ANIMATIONS*/
@keyframes typing {
    from{width: 0;}
    to {width: 57rem;}
}

@keyframes cursor{
    from{border-right-color: rgba(0,0,0,0.75);}
    to {border-right-color: transparent;}
}
